/*Carrusel 2*/
#conteItemsCarrusel2{
    height: 88vh;
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.itemCarrusel2{  
    height: 100%;
    position: relative;
}

.tarjetaCarrusel2{
    height: 100%;
    
}
.flechasCarrusel2{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
a{
    text-decoration: none;
}
i{
    color: rgb(231, 217, 154);
}
#contePuntos2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding-top: 8px;
}
#contePuntos2 > a{
    font-size: 0.5em;
    font-style: none;
    color: rgb(231, 217, 154);
}
.car2{
    width: 100%;
    height: 100%;
}

@media(min-width:767px){
        #conteItemsCarrusel2{
        height: 100vh;
    }
}
@media(min-width:1023px){
    #conteItemsCarrusel2{
    width: 65%;
}
}
