h1, h2 ,h3 {
    margin: 0px;
}

.backs {
    background-image: url(/public/img/img-back-RC.jpg);
    width: 80%;
    height: 100%;
    background-attachment: scroll;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px 50px 0px 50px;
    margin: auto;
}

.backs > .back-rc .title {
    width: 90%;
    height: 100px;
    margin: auto;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backs > .back-rc > .title > div {
    font-size: 3rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.backs > .back-rc > .wrapper-evento{
    width: 100%;
    background-color: rgba(80, 97, 143, 0.3);
    border-radius: 2px;
    padding: 20px;
}

.backs > .back-rc > .wrapper-evento .evento {
    padding-bottom: 20px;
}

.backs > .back-rc > .wrapper-evento > .evento > .lugar > .title {
    display: flex;
    justify-content: space-around;
    /* padding: 30px 0px; */
    font-size: 2.6rem;
    font-weight: 900;
    color: whitesmoke;
}

.backs > .back-rc > .wrapper-evento > .evento > .lugar h2 {
    font-size: 2em;
    margin: 0px;
    color: white;
    letter-spacing: 1px;
}

.backs > .back-rc > .wrapper-evento > .evento > .lugar h3 {
    font-size: 2em;
    margin: 0px;
    color: white;
    letter-spacing: 2px;
}

.backs > .back-rc > .wrapper-evento > .evento > .donde h2 {
    font-size: 2em;
    margin: 0px;
    color: white;
    letter-spacing: 1px;
}

.backs > .back-rc > .wrapper-evento > .evento > .donde h3 {
    font-size: 2em;
    margin: 0px;
    color: white;
    letter-spacing: 2px;
}

.helper {
    height: 25px;
}


.helper-evento {
    height: 5px;
}

/*Agregado por Pope*/
.backs > .back-rc > .wrapper-evento > .mapa-ir {
 color: rgb(255, 255, 255);
 font-size: 1.3em;
 background-color: transparent;
 border-width: 1px solid black;
}
.backs > .back-rc > .wrapper-evento > .mapa-ir > a{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color: transparent;
    border-width: 1px solid black;
    text-align: center;
    transition: .7s;
}
.backs > .back-rc > .wrapper-evento > .mapa-ir > a:hover{
    color: red;
}